input{
    border-radius: 4px;
    border: none;
    padding: 10px 5px;

}
.homeContent input{
    width: 202px;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 4px;
}
.homeContent select{
    width: 202px;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 4px;
}
.maincontent__departamentInfo input{

}
